<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>害 被拖去南通拍照</title>
<link rel="stylesheet" href='{{ static_url("gallerys/gallery_2/style.css") }}'>
</head>
<body>
<!-- partial:index.partial.html -->
<figure id="showcase">
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</figure>
<!-- partial -->
  <script src='{{ static_url("gallerys/gallery_2/jquery.min.js") }}'></script>
<script  src='{{ static_url("gallerys/gallery_2/script.js") }}'></script>

</body>
</html>