<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>JJ演唱会</title>
		<link rel="stylesheet" href='{{ static_url("gallerys/gallery_7/style.css") }}' />
		<script src='{{ static_url("gallerys/gallery_7/jquery-1.6.1.min.js") }}'></script>
		<script>
		$(function(){   
				
				var interval;
				$(".container img").click(function cover(){
							$(this).addClass("zoom").fadeOut(700,append);		
							function append(){
							$(this).removeClass("zoom").appendTo(".container").show();
							var name = $(".container").children("img").first().attr("alt");
							$(".name p").text("No "+name);
							}	
					
					})
				
				function auto(){
							var play = $(".container").children("img").first();
							play.addClass("zoom").fadeOut(700,append);		
							function append(){
							$(this).removeClass("zoom").appendTo(".container").show();
							var name = $(this).parent().children("img").first().attr("alt");
							$(".name p").text("No "+name);
							}
							interval = setTimeout(auto,5000);
				}
				
				$(".container img").hover(function(){
							stopPlay();
					},function(){
							interval = setTimeout(auto,5000);
					})
				
				function stopPlay()
						{
						clearTimeout(interval)
						}
				auto();
							
		})


		</script>
	</head>

	<body>

		<div class="container">
				<img src='{{ static_url("gallerys/gallery_7/1.jpg") }}' />
				<img src='{{ static_url("gallerys/gallery_7/2.jpg") }}' />
				<img src='{{ static_url("gallerys/gallery_7/3.jpg") }}' />
				<img src='{{ static_url("gallerys/gallery_7/4.jpg") }}' />
				<img src='{{ static_url("gallerys/gallery_7/5.jpg") }}' />
		</div>

	</body>
</html>
