<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>乱拍</title>

		<link rel="stylesheet" href='{{ static_url("gallerys/gallery_1/index.css") }}'>
	</head>

	<body>
		<div class="carousel content-main">
			<ul class="list">
				<li><img src='{{ static_url("gallerys/gallery_1/1.jpg") }}'></li>
				<li><img src='{{ static_url("gallerys/gallery_1/2.jpg") }}'></li>
				<li><img src='{{ static_url("gallerys/gallery_1/3.jpg") }}'></li>
				<li><img src='{{ static_url("gallerys/gallery_1/4.jpg") }}'></li>
				<li><img src='{{ static_url("gallerys/gallery_1/5.jpg") }}'></li>
				<li><img src='{{ static_url("gallerys/gallery_1/6.jpg") }}'></li>
			</ul>
		</div>

		<script type="text/javascript" src='{{ static_url("gallerys/gallery_1/jquery.min.js") }}'></script>
		<script type="text/javascript" src='{{ static_url("gallerys/gallery_1/index.js") }}'></script>
		<script type="text/javascript">
			var setting = {
				width:1000,
				height:270,
				postWidth:658,
				postHeight:270,
				scale:0.8,
				speed:500,
				verticalAlign:"center"
			}
			$(".carousel").attr("data-setting",'{ "width":900,"height":411,"postWidth":658}')
			Carousel.init($(".carousel"))
		</script>

	</body>
</html>
