<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gallery</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
<!-- Animate.css -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/animate.css") }}'>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href='{{ static_url("homepage/css/icomoon.css") }}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/bootstrap.css") }}'>

	<!-- Magnific Popup -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/magnific-popup.css") }}'>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.carousel.min.css") }}'>
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.theme.default.min.css") }}'>

	<!-- Theme style  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/style.css") }}'>

	<!-- Modernizr JS -->
	<script src='{{ static_url("homepage/js/modernizr-2.6.2.min.js") }}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a>Zyf &amp; Gsq</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/story">Story</a></li>
						<li class="active"><a href="/gallery">Gallery</a></li>
						<li><a href="/signin">Say</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/homepage/images/front_1.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Gallery</h1>
							<h2>From January 12, 2019 to <a target="_blank">Now</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>There There</h2>
					<p>如果有一天 ZYF成为了拍照大师</p>
					<h3>别问！问就是GSQ教的好！</h3>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src='{{ static_url("homepage/images/zyf_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Zhang Yufeng</h3>
						<p>
							提问！<br>
							GSQ会因为什么事情和我吵架？
						</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src='{{ static_url("homepage/images/gsq_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Gu Siqi</h3>
						<p>
							只有两种可能
							<span class="icon">
								<i class="icon-emoji-happy"></i>
							</span>
							<br>
							没吃饱<span class="icon"><i class="icon-emoji-sad"></i></span>照片拍的不好<span class="icon"><i class="icon-emoji-sad"></i></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-section-white">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Photos Gallery</h2>
					<p>
						点击照片 收获<strong>更多快乐</strong>
					</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">
						
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_1.png); "> 
							<a href="/gallery_1" target="_blank">
								<div class="case-studies-summary">
									<span>6 Photos</span>
									<h2>随便拍拍嗷</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_3.png); ">
							<a href="javascript:gallery_3_alert();" class="color-3">
								<div class="case-studies-summary">
									<span>9 Photos</span>
									<h2>开学迎新那天...</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_2.JPG); ">
							<a href="/gallery_2" class="color-2" target="_blank">
								<div class="case-studies-summary">
									<span>4 Photos</span>
									<h2>认真拍拍！</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_4.JPG); ">
							<a href="javascript:gallery_4_alert();" class="color-4">
								<div class="case-studies-summary">
									<span>12 Photos</span>
									<h2>看看美女！</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_5.JPG); ">
							<a href="/gallery_5" class="color-3" target="_blank">
								<div class="case-studies-summary">
									<span>7 Photos</span>
									<h2>在大连的山顶上</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_6.JPG); ">
							<a href="javascript:gallery_6_alert();" class="color-4">
								<div class="case-studies-summary">
									<span>8 Photos</span>
									<h2>帅到模糊</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_7.JPG); ">
							<a href="/gallery_7" class="color-4" target="_blank">
								<div class="case-studies-summary">
									<span>5 Photos</span>
									<h2>JJ演唱会</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_9.JPG); ">
							<a href="/gallery_9" class="color-6" target="_blank">
								<div class="case-studies-summary">
									<span>7 Photos</span>
									<h2>迪士尼</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(../static/homepage/images/gallery_8.JPG); "> 
							<a href="javascript:gallery_8_alert();" class="color-5">
								<div class="case-studies-summary">
									<span>10 Photos</span>
									<h2>看电影之前要干啥呢</h2>
								</div>
							</a>
						</li>
					</ul>		
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../static/homepage/images/front_ballon.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>To Be Continued...</h2>
					<p>这个还是别continue了...拍照太难了...</p>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2019 Code by ZYF</small> 
						<small class="block">也许有人也需要我帮他做一个网站吗 <a href='{{ static_url("homepage/images/zhifubao.jpg") }}' target="_blank" title="支付宝收款码">（你猜猜这个链接是啥）</a> 价格公道童叟无欺啊 </small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-qq"></i></a></li>
							<li><a href="https://weibo.com/u/5973931920?is_hot=1"><i class="icon-sina-weibo"></i></a></li>
							<li><a href="https://github.com/Ninecl"><i class="icon-github"></i></a></li>
							<li><a href="#"><i class="icon-skype"></i></a></li>
						</ul>
					</p>
					<p>
						<a class="block" href='http://www.beian.miit.gov.cn/' style="font-size:12px;color:black">苏ICP备19061999号-1</a> 
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src='{{ static_url("homepage/js/jquery.min.js") }}'></script>
	<!-- jQuery Easing -->
	<script src='{{ static_url("homepage/js/jquery.easing.1.3.js") }}'></script>
	<!-- Bootstrap -->
	<script src='{{ static_url("homepage/js/bootstrap.min.js") }}'></script>
	<!-- Waypoints -->
	<script src='{{ static_url("homepage/js/jquery.waypoints.min.js") }}'></script>
	<!-- Carousel -->
	<script src='{{ static_url("homepage/js/owl.carousel.min.js") }}'></script>
	<!-- countTo -->
	<script src='{{ static_url("homepage/js/jquery.countTo.js") }}'></script>

	<!-- Stellar -->
	<script src='{{ static_url("homepage/js/jquery.stellar.min.js") }}'></script>
	<!-- Magnific Popup -->
	<script src='{{ static_url("homepage/js/jquery.magnific-popup.min.js") }}'></script>
	<script src='{{ static_url("homepage/js/magnific-popup-options.js") }}'></script>

	<!-- Main -->
	<script src='{{ static_url("homepage/js/main.js") }}'></script>
	
	<script type="text/javascript">
		function gallery_3_alert()
		{
			alert("做一个网页很累的好吗！你还想每个都能点啊？？？点下一个吧！");
		}

		function gallery_4_alert()
		{
			alert("这是我女朋友，你点啥点？？？你点了想干啥？？？点下一个！");
		}

		function gallery_6_alert()
		{
			alert("哥？？？我一大老爷们你也点？？？不搞了不搞了，下一个真能点。");
		}

		function gallery_8_alert()
		{
			alert("最后一个 当然不给你点啦嘿嘿嘿");
		}
	</script>

	</body>
</html>

