<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>ZyfGsq</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href='{{ static_url("css/zerogrid.css") }}'>
	<link rel="stylesheet" href='{{ static_url("css/style.css") }}'>
	<link href='{{ static_url("css/mb-comingsoon-iceberg.css") }}' rel="stylesheet" />
	
	<!-- Custom Fonts -->
	<link href='{{ static_url("css/font-awesome.min.css") }}' rel="stylesheet" type="text/css">
	
	<script src='{{ static_url("js/jquery-The Wedding Event2.1.1.js") }}'></script>

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
    
</head>
<body>
<div class="wrap-body">

<!--////////////////////////////////////Header-->
<header >
	<div class="wrap-header">
		<div class="main-header">
			<div class="zerogrid">
				<h1>Happy Birthday</h1>
				<div class="counter">
					<div class="centered text-center" id="myCounter">   
						<div class="counter-group" id="myCounter">       
							<div class="counter-block">
								<div class="days">         
									<div class="counter days">      
										<div class="days number show hundreds" id="days_1"> </div>           
										<div class="days number show tens" id="days_2"> </div>              
										<div class="days number show units" id="days_3"> </div>  
									</div>                 
								</div>           
								<div class="counter-caption">days</div>       
							</div>       
							<div class="counter-block">           
								<div class="counter hours">               
									<div class="number show n1 tens" id="hours_1"> </div>               
									<div class="number show n1 units" id="hours_2"> </div>       
								</div>           
								<div class="counter-caption">hours</div>       
							</div>       
							<div class="counter-block">           
								<div class="counter minutes">               
									<div class="number show n1 tens" id="minutes_1"> </div>               
									<div class="number show n1 units" id="minutes_2"> </div>         
								</div>           
								<div class="counter-caption">minutes</div>       
							</div>       
							<div class="counter-block">           
								<div class="counter seconds">               
									<div class="number show n1 tens" id="seconds_1"> </div>               
									<div class="number show n1 units" id="seconds_2"> </div>                      
								</div>           
								<div class="counter-caption">seconds</div>       
							</div>   
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</header>



<!--////////////////////////////////////Container-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="col-3-5">
							<div class="wrap-col">
								<h1>计算机学院 <br>一男的</h1>
								<p>顾思琦吃早饭了吗?你为什么又不吃早饭?</p>
								<p>顾思琦吃午饭了吗?你为什么午饭又吃乱起八糟的东西?</p>
								<p>顾思琦吃晚饭了吗?晚饭吃那么多肚子不是又要不舒服?</p>
							</div>
						</div>
						<div class="col-2-5">
							<div class="wrap-col">
								<img src='{{ static_url("pics/zyf_touxiang.jpg") }}'>
							</div>
						</div>
					</div>
					<div class="col-1-2">
						<div class="col-3-5 fix-right">
							<div class="wrap-col">
								<h1>东吴商学院 <br>一女的</h1>
								<p>张钰峰我没吃早饭...能不能给我点水果呀~</p>
								<p>张钰峰我的午饭一点也不好吃,我想去买点零食捏~</p>
								<p>张钰峰我晚饭又吃了好多呜呜呜我好撑肚子里好难受...</p>
							</div>
						</div>
						<div class="col-2-5">
							<div class="wrap-col">
								<img src='{{ static_url("pics/gsq_touxiang.jpg") }}'>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<!-----------------content-box-2-------------------->
		<section class="content-box boxstyle-2 box-2">
			<div class="zerogrid" style="width: 80%;">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2 class="color-yellow">GALLERY</h2>
							<hr class="line">
							<div class="intro">害 拍照真的真的真的太难了</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-3" onclick="window.open('gallery_1','_self')">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_1.jpg") }}' />
							</div>
						</div>
						<div class="col-1-3" onclick="window.open('gallery_2','_self')">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_2.jpg") }}' />
							</div>
						</div>
						<div class="col-1-3">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_3.jpg") }}' />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-3">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_4.jpg") }}' />
							</div>
						</div>
						<div class="col-1-3" onclick="window.open('gallery_5','_self')">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_5.jpg") }}' />
							</div>
						</div>
						<div class="col-1-3">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_6.jpg") }}' />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-3" onclick="window.open('gallery_7','_self')">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_7.jpg") }}' />
							</div>
						</div>
						<div class="col-1-3">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_8.jpg") }}' />
							</div>
						</div>
						<div class="col-1-3" onclick="window.open('gallery_9','_self')">
							<div class="item-container">
								<div class="item-caption">
									<div class="item-caption-inner">
										<div class="item-caption-inner1">
											
										</div>
									</div>
								</div>
								<img src='{{ static_url("pics/gallery_9.jpg") }}' />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-----------------content-box-3-------------------->
		<section class="content-box boxstyle-3 box-3">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<h3>为什么会有这个网站<br><span>(当然首先因为zyf是一个程序员)</span></h3> 
					<img src='{{ static_url("pics/why.jpg") }}' />
					<p>“zyf，你给我去注册一个微博小号！”<br>“？？？弄啥咧”<br>“我的微博要保持人设的呀，我要去小号上秀恩爱！”<br>“你怕不是脑阔子有包包。。。”</p>
					<br>
					<p>于是这个大胆的想法在zyf脑海中诞生了，作为一名有理想有追求有报复的程序员<br>年轻人，你渴望力量吗<br>让我来教教你用python、javascript、html、tornado速成一个网站吧！</p>
				</div>
			</div>
		</section>
		
		<!-----------------content-box-4-------------------->
		<section class="content-box boxstyle-1 box-4">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2 class="color-yellow">ToDo & HaveDone</h2>
							<hr class="line">
							<div class="intro">Lorem ipsum dolor sit amet</div>
						</div>
					</div>
					<div class="row"><!--Start Box-->
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="zoom-container">
									<img src='{{ static_url("blogs/blog1/front.jpg") }}' />
								</div>
								<div class="item-content">
									<span>关于要吃的东西</span>
									<p>想吃的东西太多了<br>gsq永远是zyf<br>练腹肌路上的拦路虎</p>
									<a class="button" onclick="window.open('blog_1','_self')">More</a>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="zoom-container">
									<img src='{{ static_url("blogs/blog2/front.jpg") }}' />
								</div>
								<div class="item-content">
									<span>关于要做的事</span>
									<p>当然还有做过的事<br>还有gsq不让zyf做的事<br>还有gsq逼zyf做的事</p>
									<a class="button" href="single.html">More</a>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="zoom-container">
									<img src='{{ static_url("blogs/blog3/front.jpg") }}' />
								</div>
								<div class="item-content">
									<span>关于求生欲</span>
									<p>如果gsq是阅读理解题<br>那么zyf一定道道零分<br>但是zyf仍然一题不落</p>
									<a class="button" href="single.html">More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row"><!--Start Box-->
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="zoom-container">
									<img src="images/kids3-thumb.jpg" />wode
								</div>
								<div class="item-content">
									<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
									<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
									Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
									<a class="button" href="single.html">More</a>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="zoom-container">
									<img src="images/kids4-thumb.jpg" />
								</div>
								<div class="item-content">
									<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
									<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
									Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
									<a class="button" href="single.html">More</a>
								</div>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col item">
								<div class="zoom-container">
									<img src="images/kids2-thumb.jpg" />
								</div>
								<div class="item-content">
									<span>LOREM IPSUM DOLOR SIT AMET,CONSEC TEETUER ADIPECPP IT.</span>
									<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. 
									Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
									<a class="button" href="single.html">More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-----------------content-box-5-------------------->
		<section class="content-box boxstyle-2 box-5">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2>Our Friends</h2>
							<hr class="line">
							<div class="intro">Lorem ipsum dolor sit amet</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-1-2">
							<div class="row post">
								<div class="col-2-6">
									<div class="wrap-col wrapper">
										<a href="#"><img src="images/ava-4.jpg"></a>
									</div>
								</div>
								<div class="col-4-6">
									<div class="wrap-col">
										<h3>Craig Herrera</h3>
										<span>Best Man</span>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
										<ul class="social-buttons">
											<li><a href="#"><i class="fa fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-facebook"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row post">
								<div class="col-2-6">
									<div class="wrap-col wrapper">
										<a href="#"><img src="images/ava-6.jpg"></a>
									</div>
								</div>
								<div class="col-4-6">
									<div class="wrap-col">
										<h3>Sheryl Wilson</h3>
										<span>Bridesmaid</span>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
										<ul class="social-buttons">
											<li><a href="#"><i class="fa fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-facebook"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-1-2">
							<div class="row post">
								<div class="col-2-6 right">
									<div class="wrap-col wrapper">
										<a href="#"><img src="images/ava-7.jpg"></a>
									</div>
								</div>
								<div class="col-4-6">
									<div class="wrap-col">
										<h3>Sheryl Wilson</h3>
										<span>Bridesmaid</span>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
										<ul class="social-buttons">
											<li><a href="#"><i class="fa fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-facebook"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row post">
								<div class="col-2-6 right">
									<div class="wrap-col wrapper">
										<a href="#"><img src="images/ava-8.jpg"></a>
									</div>
								</div>
								<div class="col-4-6">
									<div class="wrap-col">
										<h3>Craig Herrera</h3>
										<span>Best Man</span>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
										<ul class="social-buttons">
											<li><a href="#"><i class="fa fa-twitter"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-facebook"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a>
											</li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-----------------content-box-6-------------------->
		<section class="content-box boxstyle-1 box-6">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<div class="wrapper">
							<h2 class="color-yellow">LOCATION</h2>
							<hr class="line">
							<div class="intro">Lorem ipsum dolor sit amet</div>
						</div>
					</div>
					<div class="row">
						<div class="col-1-3">
							<div class="wrap-col">
								<i class="fa fa-map-marker"></i>
								<h3>Location</h3>
								<p>The wedding party will begin @ <span>14:00 P.M</span> on <span>Monday July 23, 2015</span> . Free drinks and music is on the way, no costume is needed.</p>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<i class="fa fa-phone"></i>
								<h3>Location</h3>
								<p>Gulshan Hall, 60 Grant Ave. Carteret NJ 0708 (732) 803-01 03, (732) 806-01 04 info@emailname.com</p>
							</div>
						</div>
						<div class="col-1-3">
							<div class="wrap-col">
								<i class="fa fa-envelope"></i>
								<h3>Location</h3>
								<p><span>Eevent One :</span> Event Name and Time <br><span>Eevent Two :</span> Event Name and Time <br><span>Eevent Three :</span> Event Name and Time</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>

<!--////////////////////////////////////Footer-->
<footer>
	
	<div class="wrap-footer">
		<div class="zerogrid">
			<div class="row">
				<h3>Contact</h3>
				<span>Phone / +80 999 99 9999 </span></br>
				<span>Email / info@domain.com  </span></br>
				<span>Studio / Moonshine St. 14/05 Light City </span></br>
				<span>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></span>
			</div>
		</div>
	</div>
</footer>
	
	<!-- Google Map -->
	<script>
		$('.maps').click(function () {
		$('.maps iframe').css("pointer-events", "auto");
	});

	$( ".maps" ).mouseleave(function() {
	  $('.maps iframe').css("pointer-events", "none"); 
	});
	</script>
	
	<!-- Countdown -->
    <script src="stylesheet" href='{{ static_url("js/jquery.mb-comingsoon.min.js") }}'></script>
    <script type="text/javascript">
        $(function () {
            $('#myCounter').mbComingsoon({ expiryDate: new Date(2017, 0, 1, 9, 30), speed:100 });
            setTimeout(function () {
                $(window).resize();
            }, 200);
        });
	</script>

	
</div>
<script type="text/javascript">
	function countDown()
	{
		var startTime = "2019/01/12 20:00:00";   //开始时间
		var currentTime = parseInt(new Date().getTime());  //当前的时间
		var startTime = parseInt(new Date(startTime).getTime());
		var countTime = parseInt(currentTime / 1000 - startTime / 1000);  //需要倒计时的时间
		var days = parseInt(countTime/60/60/24)
		var hours = parseInt(countTime/60/60%24);
		var minutes = parseInt(countTime/60%60);
		var seconds = parseInt(countTime%60);
		var seconds_1 = parseInt(seconds / 10)
		var seconds_2 = parseInt(seconds % 10)
		var minutes_1 = parseInt(minutes / 10)
		var minutes_2 = parseInt(minutes % 10)
		var hours_1 = parseInt(hours / 10)
		var hours_2 = parseInt(hours % 10)
		var days_1 = parseInt(days / 100)
		var days_2 = parseInt(days / 10 % 10)
		var days_3 = parseInt(days % 10)
		document.getElementById("seconds_1").innerHTML = seconds_1
		document.getElementById("seconds_2").innerHTML = seconds_2
		document.getElementById("minutes_1").innerHTML = minutes_1
		document.getElementById("minutes_2").innerHTML = minutes_2
		document.getElementById("hours_1").innerHTML = hours_1
		document.getElementById("hours_2").innerHTML = hours_2
		document.getElementById("days_1").innerHTML = days_1
		document.getElementById("days_2").innerHTML = days_2
		document.getElementById("days_3").innerHTML = days_3
		console.log(day, hours, minutes, seconds)
	}
	setInterval("countDown()", 1000);
</script>
<script type="text/javascript">
	function startCount()
	{
		var startTime = "2019/01/12 20:00:00";   //开始时间
		var currentTime = parseInt(new Date().getTime());  //当前的时间
		var startTime = parseInt(new Date(startTime).getTime());
		var countTime = parseInt(currentTime / 1000 - startTime / 1000);  //需要倒计时的时间
		var days = parseInt(countTime/60/60/24)
		var hours = parseInt(countTime/60/60%24);
		var minutes = parseInt(countTime/60%60);
		var seconds = parseInt(countTime%60);
		var seconds_1 = parseInt(seconds / 10)
		var seconds_2 = parseInt(seconds % 10)
		var minutes_1 = parseInt(minutes / 10)
		var minutes_2 = parseInt(minutes % 10)
		var hours_1 = parseInt(hours / 10)
		var hours_2 = parseInt(hours % 10)
		var days_1 = parseInt(days / 100)
		var days_2 = parseInt(days / 10 % 10)
		var days_3 = parseInt(days % 10)
		document.getElementById("seconds_1").innerHTML = seconds_1
		document.getElementById("seconds_2").innerHTML = seconds_2
		document.getElementById("minutes_1").innerHTML = minutes_1
		document.getElementById("minutes_2").innerHTML = minutes_2
		document.getElementById("hours_1").innerHTML = hours_1
		document.getElementById("hours_2").innerHTML = hours_2
		document.getElementById("days_1").innerHTML = days_1
		document.getElementById("days_2").innerHTML = days_2
		document.getElementById("days_3").innerHTML = days_3
		console.log(day, hours, minutes, seconds)
	}
	window.onload = startCount()
</script>
</body>
</html>