<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Say I love U!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/animate.css") }}'>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href='{{ static_url("homepage/css/icomoon.css") }}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/bootstrap.css") }}'>

	<!-- Magnific Popup -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/magnific-popup.css") }}'>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.carousel.min.css") }}'>
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.theme.default.min.css") }}'>

	<!-- Theme style  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/style.css") }}'>

	<!-- Modernizr JS -->
	<script src='{{ static_url("homepage/js/modernizr-2.6.2.min.js") }}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a>Zyf &amp; Gsq</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/story">Story</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li class="active"><a href="/signin">Say</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/say/bg.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Say I Love U！</h1>
							<h2>我的 <a>宝贝</a> 呀！</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Here Here</h2>
					<h3>宝贝呀</h3>
					<p>虽然隔了一年时间有点长，但是我要和你表白啦~</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src='{{ static_url("homepage/images/zyf_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Zhang Yufeng</h3>
						<p>
							GSQ同学<br>
							你愿意做我的女朋友吗
						</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src='{{ static_url("homepage/images/gsq_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Gu Siqi</h3>
						<p>
							..................
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../static/homepage/images/front_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 id="head">Will you...?</h2>
					<a id="cnt" style="font-size: 26px; font-weight:bold">你愿意吗<a>
					<p id="nopardon">
						亲爱的GSQ，你愿意做我的女朋友吗？<br>
						你愿意不论发生什么<br>
						不管是我一个星期没有刮胡子，还是我穿了你不喜欢的袜子<br>
						不管是我又长了许多痘痘，还是我换了你不喜欢的洗发水<br>
						你愿意一直陪在我身边吗？
					</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
						<div class="col-md-4 col-sm-4">
							<button type="button" onclick="no()" class="btn btn-default btn-block" style="background-color:#555555" id="no">残忍拒绝</button>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="button" onclick="think()" class="btn btn-default btn-block" style="background-color:#008CBA" id="think">我再想想</button>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="button" onclick="yes()" class="btn btn-default btn-block" id="yes">我愿意！</button>
						</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block" style="color:#828282">&copy; 2019 Code by ZYF</small> 
						<small class="block" style="color:#828282">也许有人也需要我帮他做一个网站吗 <a href='{{ static_url("homepage/images/zhifubao.jpg") }}' target="_blank" title="支付宝收款码">（你猜猜这个链接是啥）</a> 价格公道童叟无欺啊 </small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-qq"></i></a></li>
							<li><a href="https://weibo.com/u/5973931920?is_hot=1"><i class="icon-sina-weibo"></i></a></li>
							<li><a href="https://github.com/Ninecl"><i class="icon-github"></i></a></li>
							<li><a href="#"><i class="icon-skype"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src='{{ static_url("homepage/js/jquery.min.js") }}'></script>
	<!-- jQuery Easing -->
	<script src='{{ static_url("homepage/js/jquery.easing.1.3.js") }}'></script>
	<!-- Bootstrap -->
	<script src='{{ static_url("homepage/js/bootstrap.min.js") }}'></script>
	<!-- Waypoints -->
	<script src='{{ static_url("homepage/js/jquery.waypoints.min.js") }}'></script>
	<!-- Carousel -->
	<script src='{{ static_url("homepage/js/owl.carousel.min.js") }}'></script>
	<!-- countTo -->
	<script src='{{ static_url("homepage/js/jquery.countTo.js") }}'></script>

	<!-- Stellar -->
	<script src='{{ static_url("homepage/js/jquery.stellar.min.js") }}'></script>
	<!-- Magnific Popup -->
	<script src='{{ static_url("homepage/js/jquery.magnific-popup.min.js") }}'></script>
	<script src='{{ static_url("homepage/js/magnific-popup-options.js") }}'></script>

	<!-- Main -->
	<script src='{{ static_url("homepage/js/main.js") }}'></script>

	<script type="text/javascript">
		var click_cnt = 0
		function yes()
		{
			if(click_cnt < 99)
			{
				alert("不行！女孩子要矜持，请你拒绝我！");
			}
			else
			{
				document.getElementById("head").innerHTML = "Congratulations!"
				document.getElementById("cnt").innerHTML = "从今天开始！你就（已经）是我的女朋友（一年）啦！"
				document.getElementById("nopardon").innerHTML = "从今天开始你再也不能问我为什么不和你表白了（狗头）"
			}
		}
		function think()
		{
			if(click_cnt < 99)
			{
				alert("那你可给我好好想想！");
			}
			else
			{
				document.getElementById("head").innerHTML = "Congratulations!"
				document.getElementById("cnt").innerHTML = "从今天开始！你就（已经）是我的女朋友（一年）啦！"
				document.getElementById("nopardon").innerHTML = "从今天开始你再也不能问我为什么不和你表白了（狗头）"
			}
		}
		function no()
		{
			click_cnt ++;
			if(click_cnt < 99)
			{
				document.getElementById("cnt").innerHTML = "这是你第" + click_cnt + "次拒绝我，但是没有关系，我会再问你第" + (click_cnt + 1) + "次"
			}
			else if(click_cnt == 99)
			{
				document.getElementById("cnt").innerHTML = "这是你第" + click_cnt + "次拒绝我，但是没有关系，我会再问你第" + (click_cnt + 1) + "次"
				document.getElementById("no").innerHTML = "我愿意!";
				document.getElementById("think").innerHTML = "我愿意!";
				document.getElementById("yes").innerHTML = "我愿意!";
				alert("你已经拒绝我99次了哦！看来只能拿出我的杀手锏了！");
			}
			else
			{
				document.getElementById("head").innerHTML = "Congratulations!"
				document.getElementById("cnt").innerHTML = "从今天开始！你就（已经）是我的女朋友（一年）啦！"
				document.getElementById("nopardon").innerHTML = "从今天开始你再也不能问我为什么不和你表白了（狗头）"
			}
		}
	</script>
	</body>
</html>

