<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Our Stories</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/animate.css") }}'>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href='{{ static_url("homepage/css/icomoon.css") }}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/bootstrap.css") }}'>

	<!-- Magnific Popup -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/magnific-popup.css") }}'>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.carousel.min.css") }}'>
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.theme.default.min.css") }}'>

	<!-- Theme style  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/style.css") }}'>

	<!-- Modernizr JS -->
	<script src='{{ static_url("homepage/js/modernizr-2.6.2.min.js") }}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Zyf &amp; Gsq<strong>.</strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/story">Story</a></li>
						<li class="has-dropdown">
							<a href="services.html">Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Design</a></li>
								<li><a href="#">eCommerce</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="gallery.html">Gallery</a>
							<ul class="dropdown">
								<li><a href="#">HTML5</a></li>
								<li><a href="#">CSS3</a></li>
								<li><a href="#">Sass</a></li>
								<li><a href="#">jQuery</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/homepage/images/front_1.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Our Stories</h1>
							<h2>Free HTML5 templates Made by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Here Here</h2>
					<h3>以下故事绝对真实 不包含任何捏造虚构抄袭内容</h3>
					<p>如果白天联系不上我了 就表示这些故事我写的有问题 帮我劝劝Gsq手下留情</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src='{{ static_url("homepage/images/zyf_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Zhang Yufeng</h3>
						<p>
							东风夜放花千树<br>
							我想去你家里住
						</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src='{{ static_url("homepage/images/gsq_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Gu Siqi</h3>
						<p>
							万水千山总是情<br>
							你问我爸行不行
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Timeline</span>
					<h2>Our Story</h2>
					<p>你可以不相信故事是真的，但是你要相信Zyf满满的求生欲</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">是Gsq先来加的我QQ！</h3>
									<span class="date">June 20, 2017</span>
								</div>
								<div class="timeline-body">
									<p>
										说起来你们可能不信<br>
										大一Gsq就加了我QQ<br>
										没错 是她来加了我QQ<br>
										然后！<br>
										就没有然后了...<br><br>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/homepage/images/story_1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">这个女人有点东西</h3>
									<span class="date">December 1, 2018</span>
								</div>
								<div class="timeline-body">
									<p>
										在青演结束的这天晚上<br>
										出色完成工作的Gsq<br>
										和我们一起来到凤凰街上的KFC吃冰淇凌打掼蛋<br>
										Gsq故意拆开了两个王炸<br>
										用两个大王和两个小王<br>
										把有幸成为她下家的我按在牌桌上摩擦<br>
										那天晚上我开始意识到<br>
										这个女人 有点东西
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/homepage/images/story_2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">第一份礼物</h3>
									<span class="date">December 25, 2018</span>
								</div>
								<div class="timeline-body">
									<p>
										第一份礼物<br>
										应该...好像...是我送的吧？<br>
										圣诞节这天<br>
										我送给了Gsq一条Rastaclat的手链<br>
										没有在平安夜送是因为<br>
										快递太慢了...
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">关于Zyf被偷掉的手机</h3>
									<span class="date">January 5, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										考试周每天就和Gsq一起吃吃饭<br>
										一起聊天一起哈哈哈哈哈哈<br>
										然后我的手机<br>
										就在我们的哈哈哈哈哈里面被偷掉了
										<span class="icon">
											<i class="icon-emoji-sad"></i>
										</span>
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_3.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">啊！这历史性的时刻！</h3>
									<span class="date">January 12, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										关于我和Gsq是怎么在一起的<br>
										今天终于要公布官方版本了!<br>
										给Gsq切完生日蛋糕之后<br>
										我们一起坐在沙发上<br>
										GSQ发了朋友圈 我发了微博<br>
										照片里没有我们对方 但是都是我们一起在大连拍的照片<br>
										果然！<br>
										没过多久 神探YZW发现了问题！<br>
										在YAOYAO哥发消息来问我们是不是在一起了<br>
										是不是一起出去旅游的时候<br>
										ZYF拿过GSQ的手机问她：“我回是的了？”<br>
										GSQ红着脸点了点头<br>
										从此他们一起过上了幸福的生活！<br><br>
										当然...这时ZYF的版本...<br>
										GSQ的版本是<br>
										ZYF！！！你为什么当时没有和我表白？？？<br>
										ZYF！！！你怎么浑水摸鱼就让我和你在一起了？？？<br>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_4.png);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">JJ演唱会</h3>
									<span class="date">April 6, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										机智的我们骑着电瓶车来到了体育馆<br>
										散场的时候晃晃悠悠从打不到车的人群前面穿过<br>
										真是太幸福了<br>
										苏州的限定曲是小酒窝<br>
										而且还唱了雪落下的声音<br>
										Gsq让我想清楚再说到底是为什么才幸福<br>
										当然是因为JJ唱歌好听啊<br>
										难不成还是因为你吗（手动狗头）
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_5.png);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">那些花花草草啊</h3>
									<span class="date">April 13, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										Gsq做了一个小花盆<br>
										所以我们一起去花鸟市场买了三盆多肉<br>
										当时...<br>
										当时我以为我能养活它们
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_6.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">被迫补测</h3>
									<span class="date">April 20, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										因为关节炎没能参加体测的Zyf<br>
										被迫四月二十号参加补测<br>
										Gsq在体测前的两个星期每天都陪我去操场跑步<br>
										见证我从4：30跑到3：50<br>
										然后体测那天被Gsq的朋友们拍到<br>
										我在思考她们会不会觉得我是一个要补测的菜逼...
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_7.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">迪士尼诶</h3>
									<span class="date">April 25, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										心心念念地终于去了迪士尼<br>
										后悔没有买提前入场的我们<br>
										买了三个快速通道？？？<br><br>
										给Gsq买了仙女棒<br>
										给Gsq买了小毛毯<br>
										我们坐在广场上看着烟花<br>
										约定下次要来坐七个小矮人地过山车<br>
										约定了要一直让Gsq做公主
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/homepage/images/story_3.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">悄咪咪做网站</h3>
									<span class="date">December 9, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										被Gsq拖来图书馆陪她学习的我<br>
										小心翼翼地在旁边敲着代码<br>
										手放在快捷键上随时准备切屏<br>
										生怕这臭猪突然转头<br>
										看到我在做网站（虽然我觉得她看不懂）<br>
										好嘛 转头一看<br>
										她已经趴下睡觉了
									</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>To Be Continued...</h2>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2019 Code by ZYF</small> 
						<small class="block">也许有人也需要我帮他做一个网站吗 <a href='{{ static_url("homepage/images/zhifubao.jpg") }}' target="_blank" title="支付宝收款码">（你猜猜这个链接是啥）</a> 价格公道童叟无欺啊 </small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-qq"></i></a></li>
							<li><a href="https://weibo.com/u/5973931920?is_hot=1"><i class="icon-sina-weibo"></i></a></li>
							<li><a href="https://github.com/Ninecl"><i class="icon-github"></i></a></li>
							<li><a href="#"><i class="icon-skype"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src='{{ static_url("homepage/js/jquery.min.js") }}'></script>
	<!-- jQuery Easing -->
	<script src='{{ static_url("homepage/js/jquery.easing.1.3.js") }}'></script>
	<!-- Bootstrap -->
	<script src='{{ static_url("homepage/js/bootstrap.min.js") }}'></script>
	<!-- Waypoints -->
	<script src='{{ static_url("homepage/js/jquery.waypoints.min.js") }}'></script>
	<!-- Carousel -->
	<script src='{{ static_url("homepage/js/owl.carousel.min.js") }}'></script>
	<!-- countTo -->
	<script src='{{ static_url("homepage/js/jquery.countTo.js") }}'></script>

	<!-- Stellar -->
	<script src='{{ static_url("homepage/js/jquery.stellar.min.js") }}'></script>
	<!-- Magnific Popup -->
	<script src='{{ static_url("homepage/js/jquery.magnific-popup.min.js") }}'></script>
	<script src='{{ static_url("homepage/js/magnific-popup-options.js") }}'></script>

	<!-- Main -->
	<script src='{{ static_url("homepage/js/main.js") }}'></script>

	</body>
</html>

