<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Our Stories</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/animate.css") }}'>
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href='{{ static_url("homepage/css/icomoon.css") }}'>
	<!-- Bootstrap  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/bootstrap.css") }}'>

	<!-- Magnific Popup -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/magnific-popup.css") }}'>

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.carousel.min.css") }}'>
	<link rel="stylesheet" href='{{ static_url("homepage/css/owl.theme.default.min.css") }}'>

	<!-- Theme style  -->
	<link rel="stylesheet" href='{{ static_url("homepage/css/style.css") }}'>

	<!-- Modernizr JS -->
	<script src='{{ static_url("homepage/js/modernizr-2.6.2.min.js") }}'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a>Zyf &amp; Gsq</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/story">Story</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/signin">Say</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../static/say/bg.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Our Stories</h1>
							<h2>From June 20, 2017 to <a>Now</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Here Here</h2>
					<h3>以下故事绝对真实 不包含任何捏造虚构抄袭内容</h3>
					<p>如果白天联系不上我了 就表示这些故事我写的有问题 帮我劝劝Gsq手下留情</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src='{{ static_url("homepage/images/zyf_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Zhang Yufeng</h3>
						<p>
							东风夜放花千树<br>
							我想去你家里住
						</p>
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src='{{ static_url("homepage/images/gsq_touxiang.jpg") }}' alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Gu Siqi</h3>
						<p>
							万水千山总是情<br>
							你问我爸行不行
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Timeline</span>
					<h2>Our Story</h2>
					<p>你可以不相信故事是真的，但是你要相信Zyf满满的求生欲</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">是GSQ先来加的我QQ！</h3>
									<span class="date">June 20, 2017</span>
								</div>
								<div class="timeline-body">
									<p>
										说起来你们可能不信<br>
										大一GSQ就加了我QQ<br>
										没错 是她来加了我QQ<br>
										然后！<br>
										就没有然后了...<br><br>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/homepage/images/story_1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">这个女人有点东西</h3>
									<span class="date">December 1, 2018</span>
								</div>
								<div class="timeline-body">
									<p>
										在青演结束的这天晚上<br>
										出色完成工作的GSQ<br>
										和我们一起来到凤凰街上的KFC吃冰淇凌打掼蛋<br>
										GSQ故意拆开了两个王炸<br>
										用两个大王和两个小王<br>
										把有幸成为她下家的我按在牌桌上摩擦<br>
										那天晚上我开始意识到<br>
										这个女人 有点东西
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/homepage/images/story_2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">第一份礼物</h3>
									<span class="date">December 25, 2018</span>
								</div>
								<div class="timeline-body">
									<p>
										第一份礼物<br>
										应该...好像...是我送的吧？<br>
										圣诞节这天<br>
										我送给了GSQ一条Rastaclat的手链<br>
										没有在平安夜送是因为<br>
										快递太慢了...
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">关于Zyf被偷掉的手机</h3>
									<span class="date">January 5, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										考试周每天就和GSQ一起吃吃饭<br>
										一起聊天一起哈哈哈哈哈哈<br>
										然后我的手机<br>
										就在我们的哈哈哈哈哈里面被偷掉了
										<span class="icon">
											<i class="icon-emoji-sad"></i>
										</span>
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_3.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">啊！这历史性的时刻！</h3>
									<span class="date">January 12, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										关于我和GSQ是怎么在一起的<br>
										今天终于要公布官方版本了!<br>
										给GSQ切完生日蛋糕之后<br>
										我们一起坐在沙发上<br>
										GSQ发了朋友圈 我发了微博<br>
										照片里没有对方 但都是我们一起在大连拍的照片<br>
										果然！<br>
										没过多久 侦探YZW发现了问题<br>
										在YAOYAO哥发消息来问我们是不是在一起了的时候<br>
										ZYF拿过GSQ的手机问她：“我回是的了？”<br>
										GSQ红着脸点了点头<br>
										从此他们一起过上了幸福的生活！<br><br>
										当然...这时ZYF的版本...<br>
										GSQ的版本是<br>
										ZYF！！！你为什么当时没有和我表白？？？<br>
										ZYF！！！你怎么浑水摸鱼就让我和你在一起了？？？<br>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_4.png);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">JJ演唱会</h3>
									<span class="date">April 6, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										机智的我们骑着电瓶车来到了体育馆<br>
										散场的时候晃晃悠悠从打不到车的人群前面穿过<br>
										真是太幸福了<br>
										苏州的限定曲是小酒窝<br>
										而且还唱了雪落下的声音<br>
										GSQ让我想清楚再说到底是为什么才幸福<br>
										当然是因为JJ唱歌好听啊<br>
										难不成还是因为你吗（手动狗头）
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_5.png);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">那些花花草草啊</h3>
									<span class="date">April 13, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										GSQ做了一个小花盆<br>
										所以我们一起去花鸟市场买了三盆多肉<br>
										当时...<br>
										当时我以为我能养活它们
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_6.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">被迫补测</h3>
									<span class="date">April 20, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										因为关节炎没能参加体测的Zyf<br>
										被迫四月二十号参加补测<br>
										GSQ在体测前的两个星期每天都陪我去操场跑步<br>
										见证我从4：30跑到3：50<br>
										然后体测那天被GSQ的朋友们拍到<br>
										我很担心<br>
										她们会不会觉得GSQ的男朋友是个要补测的shenxu男...
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_7.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">迪士尼诶</h3>
									<span class="date">April 25, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										心心念念地终于去了迪士尼<br>
										后悔没有买提前入场的我们<br>
										买了三个快速通道？？？<br><br>
										给Gsq买了仙女棒<br>
										给Gsq买了小毛毯<br>
										我们坐在广场上看着烟花<br>
										约定下次还要来补上坐七个小矮人的过山车<br>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_8.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">当GSQ实在看不下去我的瓜皮头</h3>
									<span class="date">May 12, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										我这个人吧<br>
										如果头发不烫<br>
										长着长着 就会变成瓜皮头<br><br>
										终于有一天<br>
										GSQ看不下去我头上的西瓜皮了<br>
										于是理发师的推子来到了我的头上...
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_9.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">学代会</h3>
									<span class="date">May 26, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										学代会诶！<br>
										多么正式的一个会议啊！<br>
										GSQ站在台上好帅啊！<br>
										可是谁能想到<br>
										最后被老师点名要求合照的时候和GSQ站在一起<br>
										害<br>
										怪不好意思的
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_10.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">GSQ煮的生日面</h3>
									<span class="date">June 10, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										六月十号这天<br>
										GSQ亲手给我煮了一碗长寿面<br>
										虽然是清汤挂面<br>
										但是甜甜的呢
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_11.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">ZYF和GSQ和八斤</h3>
									<span class="date">July 13, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										近来GSQ对小龙虾思念成疾<br>
										每每路过后庄的时候<br>
										哪怕闻到臭水沟的味道<br>
										都说是小龙虾香<br>
										为了防止她哪一天真的扑到臭水沟上<br>
										我赶紧挑了一天晚上带她去了龙虾店<br>
										得知买三斤送一斤的我们...<br>
										一口气点了八斤...
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_12.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">出门比赛给GSQ带点啥呢</h3>
									<span class="date">July 20, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										GSQ总说我出去比赛就是公费旅游<br>
										怎么可能！<br>
										我拿奖回来了好吗！<br>
										（其实就是）<br>
										为了缓解她对我的羡慕嫉妒恨<br>
										于是我看到了这把扇子...<br>
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_13.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">马里奥和小蘑菇</h3>
									<span class="date">August 4, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										任天堂死粉的我<br>
										决定给我们的Airpods买一对马里奥和小蘑菇<br>
										然而GSQ居然想让我用小蘑菇她用马里奥<br>
										这当然不行<br>
										于是我告诉GSQ<br>
										在马里奥的故事里<br>
										小蘑菇才是最后救了公主的大佬<br>
										所以她大概到现在都不知道<br>
										我玩马里奥的时候<br>
										用马里奥在蘑菇头上踩了一万下
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_14.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">真是苦了七夕节送花的师傅...</h3>
									<span class="date">August 7, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										七夕节这天<br>
										我悄悄给GSQ订了一束花<br>
										因为怕GSQ在图书馆睡着接不到送花师傅的电话<br>
										我每一个小时骚扰GSQ一下<br>
										确保她是清醒的<br>
										然而快下班的时候我还是接到了花店的电话<br>
										说送花的师傅没找到人<br>
										晚上回学校我看着GSQ手机上的十几个未接来电<br>
										问她下午为什么那么多电话都没接到<br>
										GSQ告诉我:“因为不是你打的所以我就没接呀！”<br>
										害<br>
										还挺心疼送花师傅的哈
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_15.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">富婆头</h3>
									<span class="date">August 24, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										GSQ去烫头发了！<br>
										终于！<br>
										她离富婆又近了一步！<br>
										（虽然只是头发）<br>
										那离她包养我还会远吗！
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_16.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">ZYF真是一年迎新都没拉下</h3>
									<span class="date">September 9, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										谁能想到呢<br>
										大一被迎新<br>
										大二做部长去迎新<br>
										大三做主席带人去迎新<br>
										我都大四了...<br>
										居然还要去迎新<br>
										并且是作为工作人员家属
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_17.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">刚剥好的石榴快趁热吃了！</h3>
									<span class="date">September 16, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										近来GSQ工作繁忙<br>
										每天都要凌晨才能睡觉<br>
										再加上还有一个无所事事的我<br>
										每天在她眼皮子底下晃悠<br>
										最终结果就是GSQ看到我就要按在桌上一顿暴捶<br>
										（其实也没动手啦）<br>
										（其实也就是翻翻白眼）<br>
										（还发发脾气）<br>
										（还非常冷落我）<br>
										（还故意气我）<br>
										（我太难了)<br>
										但是能怎么办呢<br>
										只能哄着呗<br>
										快快快 新鲜剥好的石榴 快趁热吃了！
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_18.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">闪现！</h3>
									<span class="date">October 17, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										15：30还在学校图书馆的我们<br>
										16：00已经坐在了去上海的高铁上！<br>
										20：42还在外滩的我们！<br>
										21：20已经到了上海火车站！<br>
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_19.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">万圣节和一瓶啤酒</h3>
									<span class="date">October 31, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										我是真的把万圣节忘了<br>
										十点多从实验室走出来<br>
										看到朋友圈刷屏的各种照片<br>
										才突然意识到万圣节这件事<br>
										都不是很想凑万圣节热闹的我们<br>
										最后一起买了一瓶啤酒<br>
										在东八后面的空地上<br>
										你吨吨<br>
										我吨吨<br>
										然后一起吨吨吨
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_20.JPG);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">300天</h3>
									<span class="date">November 8, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										GSQ去盐城拍完青年大学习<br>
										赶回来和我一起过300天<br>
										几经波折的我们最后决定<br>
										下午一起去做陶艺<br>
										而我不得不承认<br>
										在玩泥巴这件事上<br>
										是GSQ略胜一筹
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(../static/homepage/images/story_3.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">悄咪咪做网站</h3>
									<span class="date">December 9, 2019</span>
								</div>
								<div class="timeline-body">
									<p>
										被Gsq拖来图书馆陪她学习的我<br>
										小心翼翼地在旁边敲着代码<br>
										手放在快捷键上随时准备切屏<br>
										生怕这臭猪突然转头<br>
										看到我在做网站（虽然我觉得她看不懂）<br>
										好嘛 转头一看<br>
										她已经趴下睡觉了
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(../static/story/story_21.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">400天</h3>
									<span class="date">February 15, 2020</span>
								</div>
								<div class="timeline-body">
									<p>
										一定是因为我的爱感天动地<br>
										gsq在399天就忍不住要发400天的朋友圈<br>
										<br>
										被迫异地恋一个月了<br>
										希望春暖花开的时候<br>
										你飞奔着朝我跑来挂在我身上<br>
										然后我会告诉你 我好想你
									</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../static/homepage/images/front_ballon.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>To Be Continued...</h2>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2019 Code by ZYF</small> 
						<small class="block">也许有人也需要我帮他做一个网站吗 <a href='{{ static_url("homepage/images/zhifubao.jpg") }}' target="_blank" title="支付宝收款码">（你猜猜这个链接是啥）</a> 价格公道童叟无欺啊 </small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-qq"></i></a></li>
							<li><a href="https://weibo.com/u/5973931920?is_hot=1"><i class="icon-sina-weibo"></i></a></li>
							<li><a href="https://github.com/Ninecl"><i class="icon-github"></i></a></li>
							<li><a href="#"><i class="icon-skype"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src='{{ static_url("homepage/js/jquery.min.js") }}'></script>
	<!-- jQuery Easing -->
	<script src='{{ static_url("homepage/js/jquery.easing.1.3.js") }}'></script>
	<!-- Bootstrap -->
	<script src='{{ static_url("homepage/js/bootstrap.min.js") }}'></script>
	<!-- Waypoints -->
	<script src='{{ static_url("homepage/js/jquery.waypoints.min.js") }}'></script>
	<!-- Carousel -->
	<script src='{{ static_url("homepage/js/owl.carousel.min.js") }}'></script>
	<!-- countTo -->
	<script src='{{ static_url("homepage/js/jquery.countTo.js") }}'></script>

	<!-- Stellar -->
	<script src='{{ static_url("homepage/js/jquery.stellar.min.js") }}'></script>
	<!-- Magnific Popup -->
	<script src='{{ static_url("homepage/js/jquery.magnific-popup.min.js") }}'></script>
	<script src='{{ static_url("homepage/js/magnific-popup-options.js") }}'></script>

	<!-- Main -->
	<script src='{{ static_url("homepage/js/main.js") }}'></script>

	</body>
</html>

